<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Good?</th>
      <th><button type="button" class="btn btn-default"></button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let candy of candies">
      <td>{{candy.name}}</td>
      <td>{{candy.quantity}}</td>
      <td>{{candy.good}}</td>
      <td><button type="button" class="btn btn-default" (click)="deleteCandy(candy.name)"></button></td>
    </tr>
  </tbody>
</table>
</div>
